body{
  background: black;
}

.block {
  background: white;
  margin: 20px;
  padding: 50px;
  font-family: 'Roboto Slab', serif;
}
 .cn {text-align: center;margin: auto;}
 .bold {font-weight: bolder;}
 .light {font-weight: lighter;}
 .il {display: inline-block;}

iframe,img {display:block; margin: auto;}
